<!-- removed #_=_ from url -->
<script type="text/javascript">
if (window.location.hash && window.location.hash == '#_=_') {
    window.location.hash = '';
}
</script>

<h1>Authenticated Successful</h1>
<p>Welcome {{{name}}}</p>
